<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoldenData.styles.css" asp-append-version="true" />
    <style>
        .navbar-custom {
            background-color: #D69F36;
            height: 100px;
        }

        .navbar-brand img {
            max-width: 100px;
            max-height: 100px;
        }

        .dropdown-menu {
            background-color: #D69F36;
        }

        .dropdown-item {
            color: #fff;
        }

            .dropdown-item:hover {
                background-color: #C48B25;
            }

        .img-size {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/gd-logo.png" alt="Logotipo do Golden Data" class="img-fluid img-size" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto gap-4">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="CadastroConsumidor" asp-action="Index">Clientes Cadastrados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="CadastroEmpresa" asp-action="Index">Empresas Registradas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="InfoConsumidor" asp-action="Index">Informações dos Consumidores</a>
                        </li>
                    </ul>
                    @* <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <button class="btn btn-primary bg-white text-black-50 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Entrar
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/CadastroConsumidor/Create">Entrar como consumidor</a>
                                <a class="dropdown-item" href="/CadastroEmpresa/Create">Entrar como empresa</a>
                            </div>
                        </li>
                    </ul> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-center">
            &copy; 2024 - GoldenData - Todos os direitos reservados.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
