@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InfoConsumidor

<h2>Confirmar Exclusão</h2>

<p>Você tem certeza que deseja excluir o cadastro de  "@Model.Id"?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger" aria-label="Excluir" onclick="return confirm('Tem certeza que deseja excluir este item?')">Excluir</button>

    <a asp-action="Index" class="btn btn-secondary" role="button">Cancelar</a>
</form>

