@{
    ViewData["Title"] = "Golden Data";
}
<div class="container text-center mt-5">
    <h1 class="display-2">Bem-vindo ao <span class="fw-bolder text-warning">Golden Data</span></h1>
    <div class="mt-5">
        <p>Na Golden Data, conectamos empresas e clientes de forma única. Nossa plataforma permite às empresas entenderem os interesses dos clientes, oferecendo anúncios e descontos personalizados. Para os <span class="fw-bolder text-warning">clientes</span>, uma experiência de <span class="fw-bolder text-warning">compra direcionada</span>. Para as <span class="fw-bolder text-warning">empresas</span>, uma oportunidade de <span class="fw-bolder text-warning">aumentar as vendas e fortalecer a fidelidade do cliente</span>. Junte-se a nós e transforme sua experiência de compra e venda online.</p>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="border border-4 border-warning p-3">
                <p class="mb-0 display-8 display-9">O que você está procurando na Golden Data?</p>
            </div>
            <div class="d-flex flex-row mt-4">
                <style>
                    img {
                        width: 50px;
                        max-width: 50px;
                    }

                    .client-div, .company-div {
                        margin-right: 40px; /* Adiciona uma margem à direita para separar as divs */
                    }
                </style>

                <div class="mt-3 client-div">
                    <img class="mb-3" src="/images/clientes.png" alt="Cliente" />
                    <p>Quero receber cupons de desconto e aprimorar os anúncios que recebo online!</p>
                    <a asp-controller="CadastroConsumidor" asp-action="Create" class="btn btn-warning mb-3">Sou Cliente</a>
                </div>

                <div class="mt-3 company-div">
                    <img class="mb-3" src="/images/companhia.png" alt="Empresa" />
                    <p>Quero aprimorar meus anúncios e otimizar minhas campanhas!</p>
                    <a asp-controller="CadastroEmpresa" asp-action="Create" class="btn btn-warning">Somos uma Empresa</a>
                </div>
            </div>

            
        </div>
    </div>
</div>
